<template>
  <div class="balancing">
    <div class="fffbg">
        <div class="disflex">
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口一
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口二
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口三
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口四
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口五
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口六
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口七
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口八
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口九
            </div>
        </div>
    </div>
     <div class="fffbg mar20">
         <ul class="tabmenu">
            <li :class="{active:act==0}" @click="tabClick(0)">MPTCP</li>
            <li :class="{active:act==1}" @click="tabClick(1)">五元组负载均衡</li>
        </ul>
        <div class="pad20">
            <div class="minheight" v-if="act==0">
              <mptcp></mptcp>
            </div>
             <div class="minheight" v-if="act==1">
              <wuyuanzhu></wuyuanzhu>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import mptcp from "./mptcp"
import wuyuanzhu from "./wuyuanzhu"
export default {
  components:{mptcp,wuyuanzhu},
   data() {
    return {
      act:0,
    }
  },
  created() {
  },
  methods: {
    tabClick(e){
      this.act=e
    },
  }
}
</script>

<style lang="scss" scoped>
.balancing {
  padding:20px;
}
</style>
