<template>
  <div style="padding:0px 20px;">
    <div class="fffbg pad20"  style="padding-top:30px;">
   请选择负载均衡算法：
                  <el-select style="width:200px" v-model="form.algorithm" placeholder="请选择">
                    <el-option label="哈希" value="哈希"></el-option>
                    <el-option label="加权哈希" value="加权哈希"></el-option>
                  </el-select>
    <div class="huibg mar20">
          <div class="caozuo">
            <span class="caozuotitle">路由</span>
            <el-button type="primary" size="small" icon="el-icon-plus" @click="add">新增</el-button>
          </div>
          <div class="fffbg pad20">
          <el-table
            :data="tableData" :header-cell-style="{background:'#F2F2F2'}"
            tooltip-effect="dark"
            style="width: 100%">


            <el-table-column prop="proxy_name" label="名称" align="center" ></el-table-column>
            <el-table-column prop="out_interface" label="出接口" align="center" ></el-table-column>
            <el-table-column prop="lower_ip" label="下一跳地址" align="center" ></el-table-column>
            <el-table-column prop="weight" label="权重" align="center" ></el-table-column>
            <el-table-column label="操作" align="center">
              <template slot-scope="scope">
                <el-button type="text" @click="deletePro(scope.row.id)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
          </div>
          <div class="mar20 disflex">
              <div class="savebtn" @click="submitForm"><img src="../../assets/save.png">保存</el-button></div>
              <div class="clearbtn" @click="empty"><img src="../../assets/del.png">清空</el-button></div>
          </div>
      </div>
      <el-dialog title="新增" custom-class="dialogStyle"	:visible.sync="dialogVisible" width="30%" >
        <el-form :model="ruleForm"  ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="名称">
              <el-input v-model="ruleForm.proxy_name"></el-input>
            </el-form-item>
            <el-form-item label="出接口" >
              <el-select style="width:100%" v-model="ruleForm.out_interface" placeholder="请选择">
                    <el-option v-for="(item,index) in InterfaceConfigList" :key="index" :label="item.interfaceName" :value="item.interfaceName"/>
             </el-select>
            </el-form-item>
            <el-form-item label="下一跳地址" >
              <el-input v-model="ruleForm.lower_ip" laceholder="请输入内容"></el-input>
            </el-form-item>
             <el-form-item label="权重" >
              <el-input v-model="ruleForm.weight" laceholder="请输入内容" :disabled="flag"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
             <el-button type="primary" size="small" icon="el-icon-folder-opened" @click="save">保存</el-button>
             <el-button type="primary" size="small" plain icon="el-icon-switch-button" @click="cancel">取消</el-button>
        </span>
      </el-dialog>
  </div>
  </div>
</template>

<script>
import {lbproxyAdd,lbproxyEdit,lbproxyList,deleteProxy,delDevLoadBalanceProxys,loadbalanceList,loadbalanceAdd,loadbalanceEdit,deleteloadbalance} from '@/api/Loadbalance'
import {getInterfaceConfigDPDK} from "@/api/basics";
export default {
   data() {
    return {
      dialogVisible:false,
      tableData:[],
      form:{
        id:null,
        algorithm:''
      },
      ruleForm: {
        proxy_name:'',
        out_interface:'',
        lower_ip:'',
        weight:''
      },
      InterfaceConfigList:[],
      flag:false
    }
  },
  created() {
     this.getLbproxyList()
    this.getLoadBalanceList()
    this.getInterfaceConfigDPDK()
  },
  methods: {
    save(){
      let regexp=/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)([/])(?:[0-9]|[1-2][0-9]?|3[0-2])$/
       if(!regexp.test(this.ruleForm.lower_ip)){
          this.$message({
            message: '下一跳IP必须是IP+/掩码格式',
            type: 'error'
          })
          return
       }
       if(this.ruleForm.weight<1||this.ruleForm.weight>255){
         this.$message({
            message: '权重必须在1-255范围之间',
            type: 'error'
          })
          return
       }


      lbproxyList({ proxy_name: this.ruleForm.proxy_name }).then(res => {
        let arr = res.result;
        if (arr.length === 0){
          lbproxyAdd(this.ruleForm).then(response => {
            this.$message({
              message: '新增成功',
              type: 'success'
            })
            this.dialogVisible = false
            this.getLbproxyList()
          })
        }else {
          this.$message({
            message: '名称重复',
            type: 'error'
          })
        }
      })
     },
    deletePro(id){
      this.$confirm('是否确认删除数据项?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(function () {
        return deleteProxy(id)
      }).then(() => {
        this.getLbproxyList()
        this.$message({
          message: '删除成功',
          type: 'success'
        })
      }).catch(() => {
      })
    },
    add(){
      this.ruleForm.proxy_name = ''
      this.ruleForm.out_interface = ''
      this.ruleForm.lower_ip = ''
      this.ruleForm.weight = ''
      this.dialogVisible = true
      if (this.form.algorithm === '哈希'){
        this.ruleForm.weight = '1'
        this.flag = true
      }else {
        this.flag = false
      }
    },
    cancel(){
      this.ruleForm.proxy_name = ''
      this.ruleForm.out_interface = ''
      this.ruleForm.lower_ip = ''
      this.ruleForm.weight = ''
      this.dialogVisible = false
    },
    getLbproxyList() {
      lbproxyList().then(res => {
        this.tableData = res.result
        console.log(this.tableData)
      })
    },
    getLoadBalanceList() {
      loadbalanceList().then(res => {
        if (res.result[0]){
          this.form = res.result[0]
        }
      })
    },
    /** 提交按钮 */
    submitForm() {
      if (this.form.id != null) {
        loadbalanceEdit(this.form).then(response => {
          this.$message({
            message: '保存成功',
            type: 'success'
          })
        })
      } else {
        loadbalanceAdd(this.form).then(response => {
          this.$message({
            message: '保存成功',
            type: 'success'
          })
        })
      }
    },
    empty(){
      let this_ = this
      this.$confirm('是否确认清空数据项?', "警告", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(function () {
        if (this_.form.id !== null){
          deleteloadbalance(this_.form.id)
          this_.form.algorithm = null
        } else {
          this_.form.algorithm = null
        }
        let ids = []
        for (let i = 0; i < this_.tableData.length; i++) {
          ids.push(this_.tableData[i].id)
        }
        if (ids.length > 0){
          return delDevLoadBalanceProxys(ids)
        }else {
          return true
        }
      }).then(() => {
        this.getLbproxyList()
        this.$message({
          message: '清空成功',
          type: 'success'
        })
      }).catch(() => {
      })
    },
    getInterfaceConfigDPDK(){
      getInterfaceConfigDPDK().then(res =>{
        this.InterfaceConfigList = res.result
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
<style>

</style>
