<template>
  <div class="base">
    <div class="fffbg">
        <div class="disflex">
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口一
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口二
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口三
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口四
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口五
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口六
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口七
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口八
            </div>
            <div class="jkItem">
              <img src="../../assets/tu.png"><br/>接口九
            </div>
        </div>
    </div>
    <div class="fffbg mar20">
        <ul class="tabmenu">
            <li :class="{active:act==0}" @click="tabClick(0)">接口配置</li>
            <li :class="{active:act==1}" @click="tabClick(1)">静态路由配置</li>
            <li :class="{active:act==2}" @click="tabClick(2)">QOS配置</li>
        </ul>
        <div class="pad20">
            <div v-if="act==0">
                <div class="jiekou" v-for="(item,index) in 7" :key="index">
                   <div class="jiekoufont">GO{{index+1}}</div>
                   <div class="jktype">
                   <el-select v-model="item.type" placeholder="请选择接口类型">
                        <el-option label="HOST" value="1"></el-option>
                        <el-option label="DPDK" value="2"></el-option>
                   </el-select>
                   </div>
                   <el-input class="jiekouinp"></el-input>
                   <div class="hx"></div>
                   <el-input class="jiekouinp"></el-input>
                   <div class="savebtn"><img src="../../assets/save.png">保存</el-button></div>
                   <div class="clearbtn"><img src="../../assets/del.png">清空</el-button></div>
                </div>
                <div class="mar20 disflex">
                   <div class="savebtn">一键保存</el-button></div>
                   <div class="clearbtn">一键清空</el-button></div>
                </div>
            </div>
            <div v-if="act==1">
               <el-row :gutter="20">
                    <el-col :span="6" v-for="(item,index) in jtlyList" :key="index">
                        <div class="jtly">
                            <div class="mbdz disflex">
                              <el-select v-model="item.type" placeholder="请选择接口类型">
                                    <el-option label="HOST" value="1"></el-option>
                                    <el-option label="DPDK" value="2"></el-option>
                              </el-select>
                              <el-select style="margin-left:10px;" v-model="item.type" placeholder="请选择接口">
                                    <el-option label="接口测试一" value="1"></el-option>
                                    <el-option label="接口测试二" value="2"></el-option>
                              </el-select>
                            </div>
                            <div class="mbdz disflex">目标地址：<el-input class="mbdzinp"></el-input></div>
                            <div class="xzt disflex">下一条：<el-input class="mbdzinp"></el-input></div>
                            <div class="close" @click="deljtly(index)"></div>
                        </div>
                    </el-col>
                    <el-col :span="6"><div class="addbtn" @click="addjtly">+</div></el-col>
               </el-row>
                <div class="disflex">
                   <div class="savebtn"><img src="../../assets/save.png">保存</el-button></div>
                   <div class="clearbtn"><img src="../../assets/del.png">清空</el-button></div>
                </div>
            </div>
            <div v-if="act==2">
                <div class="qosbg">
                     <div class="qomenu" :class="{qoshov:qosact==0}" @click="qosClick(0)"><img :src="require(qosact==0?'../../assets/qos1hov.png':'../../assets/qos1.png')">应用<div class="sanjiao"></div></div>
                     <div class="jt"><div class="jticon"><span class="el-icon-arrow-right"></span></div></div>
                     <div class="qomenu" :class="{qoshov:qosact==1}" @click="qosClick(1)"><img :src="require(qosact==1?'../../assets/qos2hov.png':'../../assets/qos2.png')">流组<div class="sanjiao"></div></div>
                     <div class="jt"><div class="jticon"><span class="el-icon-arrow-right"></span></div></div>
                     <div class="qomenu" :class="{qoshov:qosact==2}" @click="qosClick(2)"><img :src="require(qosact==2?'../../assets/qos3hov.png':'../../assets/qos3.png')">QOS<div class="sanjiao"></div></div>
                </div>
                <yingyong v-if="qosact==0"></yingyong>
                <liuzhu v-if="qosact==1"></liuzhu>
                <qos v-if="qosact==2"></qos>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import yingyong from "./yingyong"
import liuzhu from "./liuzhu"
import qos from "./qos"
export default {
  components:{yingyong,liuzhu,qos},
   data() {
    return {
      act:0,
      jtlyList:[1,2,3,4,5,6,7,8,9,10,11],
      qosact:0
    }
  },
   mounted(){

  },
  methods: {
    tabClick(e){
      this.act=e
    },
    qosClick(e){
      this.qosact=e
    },
    deljtly(index){
      this.jtlyList.splice(index,1)
    },
    addjtly(){
      this.jtlyList.push(1)
    }
  }
}
</script>

<style lang="scss" scoped>
.base {
  padding:20px;
  .jiekou{
    display: flex;margin-bottom: 20px;align-items: center;
    .jiekoufont {
      width:50px;
    }
    .hx {border: 1px solid #DCDCDC;width:25px;}
    .jiekouinp {margin-right:10px;margin-left:10px;}
    .jktype {width:700px;margin-left:10px;}
  }
  .jtly {
      background: #FFFFFF;position: relative;
      border: 1px solid #DCDCDC;
      border-radius: 10px;margin-bottom: 20px;
      .mbdz {padding:10px;border-bottom:1px solid #DCDCDC;white-space: nowrap;align-items: center}
      .xzt{padding: 10px;white-space: nowrap;align-items: center}
      .close {position: absolute;right:-8px;top:-8px;background:url(../../assets/close.png) no-repeat;width:40px;height: 40px;cursor: pointer;}
  }
  .addbtn {width:50px;height: 50px;background:#0E5DF7;cursor: pointer;color:#fff;font-size:30px;border-radius: 10px;line-height: 45px;text-align: center;margin-bottom: 20px;}
  .qosbg {display: flex;padding:30px;
    .qomenu {width: 146px;display:flex;align-items: center;justify-content: center;position: relative;
height: 62px;color:#0E5DF7;font-size: 20px;cursor: pointer;
background: #FFFFFF;
border: 1px solid #0E5DF7;
border-radius: 10px;
        .shanjiao {display: none}
     }
    .qomenu img {width:40px;height:40px;margin-right:10px;}
    .qoshov {background:#0E5DF7;color:#fff;
       .sanjiao {
          width:0;position: absolute;left:60px;bottom:-20px;display:block;
          height:0;
          overflow:hidden;
          font-size: 0;     /*是因为, 虽然宽高度为0, 但在IE6下会具有默认的 */
          line-height: 0;  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
          border-width:10px;
          border-style:solid;  /*ie6下会出现不透明的兼容问题*/
          border-color:#0E5DF7 transparent transparent transparent;
       }
    }
    .jt {border-bottom: 1px solid #E5E5E5;flex:1;height:30px;position: relative;}
    .jticon {width: 20px;font-size:12px;text-align: center;line-height: 20px;position: absolute;left:50%;top:20px;margin-left:-10px;
height: 20px;
background: #DCDCDC;
border-radius: 50%;}
  }
}
</style>
<style>
.jiekouinp .el-input__inner {flex:1;height:50px;}
.mbdzinp .el-input__inner {flex:1;border:0px;padding:0px;height:30px;}
.jktype .el-input--suffix .el-input__inner {height: 50px;}
</style>
