<template>
  <div style="padding:0px 20px;">
    <div class="fffbg pad20"  style="padding-top:30px;">
    <div class="caozuo">
      <el-button type="primary" size="small" icon="el-icon-plus" @click="add">新增</el-button>
      <el-button type="primary" size="small" plain icon="el-icon-delete" @click="handleDelete">删除</el-button>
    </div>
   <el-table
    :data="tableData" :header-cell-style="{background:'#F2F2F2'}" :row-class-name="tableRowClassName"
    tooltip-effect="dark"
    style="width: 100%"
    @selection-change="handleSelectionChange">
    <el-table-column
      type="selection"
      align="center"
      width="55">
    </el-table-column>
    <el-table-column
      type="index" label="序号"  align="center"
      width="50">
    </el-table-column>

    <el-table-column prop="name" label="名称" align="center" ></el-table-column>
    <el-table-column prop="interfaceName" label="接口" align="center" ></el-table-column>
     <el-table-column prop="description" label="描述" align="center" ></el-table-column>
    <el-table-column label="操作" align="center">
      <template slot-scope="scope">
        <el-button type="text" @click="edit(scope.row)">编辑</el-button>
        <el-button type="text" @click="handleDeleteId(scope.row)">删除</el-button>
        <el-button type="text" @click="handleCopy(scope.row.id)">复制</el-button>
      </template>
    </el-table-column>
  </el-table>
      <div class="page">
          <el-pagination
		  v-show="total>0"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="current"
          :page-sizes="[100, 200, 300, 400]"
          :page-size="100"
          layout="prev, pager, next, jumper, sizes"
          :total="total">
        </el-pagination>
      </div>
    </div>
      <el-dialog :title="title" custom-class="dialogStyle"	:visible.sync="dialogVisible" width="840px" >
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">
          <el-row>
          <el-col :span="12">
               <el-form-item label="名称" prop="name">
                  <el-input v-model="ruleForm.name"></el-input>
                </el-form-item>
          </el-col>
          <el-col :span="12">
               <el-form-item label="描述">
                  <el-input v-model="ruleForm.description"></el-input>
                </el-form-item>
          </el-col>
          <el-col :span="12">
               <el-form-item label="接口" prop="interfaceName">
                  <el-select style="width:100%" v-model="ruleForm.interfaceName" placeholder="请选择">
					  <el-option :key="item.id" v-for = "item in interfaceConfigDPDKList" :label="item.interfaceName" :value="item.interfaceName"></el-option>
                  </el-select>
                </el-form-item>
          </el-col>
        </el-row>
        <div style="background:#F0F4F9;padding:20px;">
        <el-row>
          <el-col :span="12">
            <el-form-item label="流组" prop="streamTableId">
              <el-select style="width:100%" v-model="ruleForm.streamTableId" placeholder="请选择">
				  <el-option :key="item.id" v-for = "item in streamGroupList" :label="item.name" :value="item.id+''"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
			<el-form-item label="策略项">
			   <el-input v-model="ruleForm.strategyPro"></el-input>
			</el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="CIR(Kbps)" prop="cir">
               <el-input v-model="ruleForm.cir" type="number"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="CBS(Byte)" prop="cbs">
               <el-input v-model="ruleForm.cbs" type="number"></el-input>
            </el-form-item>
          </el-col>
           <el-col :span="12">
            <el-form-item label="PIR(Kbps)" prop="pir">
               <el-input v-model="ruleForm.pir" type="number"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="PBS(Byte)" prop="pbs">
               <el-input v-model="ruleForm.pbs" type="number"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="conform-action" prop="greAct">
              <el-select style="width:100%" v-model="ruleForm.greAct" placeholder="请选择">
                 <el-option :key="item" v-for = "item in conformAction" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="DSCP">
              <el-select style="width:100%" v-model="ruleForm.greActDscp" placeholder="请选择" :disabled="ruleForm.greAct=='Transmit'||ruleForm.greAct=='drop'">
                <el-option :key="item.id" v-for = "item in dscpDict" :label="item.name!='any'?item.id+','+item.name:item.name" :value="item.id+''"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
           <el-col :span="12">
            <el-form-item label="exceed-action" prop="yelAct">
              <el-select style="width:100%" v-model="ruleForm.yelAct" placeholder="请选择">
                <el-option :key="item" v-for = "item in exceedAction" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="DSCP">
              <el-select style="width:100%" v-model="ruleForm.yelActDscp" placeholder="请选择" :disabled="ruleForm.yelAct=='Transmit'||ruleForm.yelAct=='drop'">
                <el-option :key="item.id" v-for = "item in dscpDict" :label="item.name!='any'?item.id+','+item.name:item.name" :value="item.id+''"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
           <el-col :span="12">
            <el-form-item label="violate-action" prop="redAct">
              <el-select style="width:100%" v-model="ruleForm.redAct" placeholder="请选择">
               <el-option :key="item" v-for = "item in violateAction" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="DSCP">
              <el-select style="width:100%" v-model="ruleForm.redActDscp" placeholder="请选择" :disabled="ruleForm.redAct=='Transmit'||ruleForm.redAct=='drop'">
                <el-option :key="item.id" v-for = "item in dscpDict" :label="item.name!='any'?item.id+','+item.name:item.name" :value="item.id+''"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          </el-row>
        </div>
        </el-form>
        <div slot="footer" class="dialog-footer mar20">
             <el-button type="primary" size="small" icon="el-icon-folder-opened" @click="save">保存</el-button>
             <el-button type="primary" size="small" plain icon="el-icon-switch-button" @click="dialogVisible = false">取消</el-button>
        </div>
      </el-dialog>
  </div>
</template>

<script>
import {addDevQosTable,editDevQosTable,getDevQosTableInfoById,getDevQosTablePage,delDevQosTableInfoByIds,delDevQosTableInfoById,copyDevQosTable} from "@/api/qos";
import {getStreamGroupAll,getInterfaceConfig,getInterfaceConfigDPDK} from "@/api/basics";

export default {
   data() {
    return {
      dialogVisible:false,
      selectList:[],
	  ids:[],
	  single:null,
	  multiple:null,
      tableData:[],
	  current:1,
	  pageSize:5,
	  total:0,
	  title:'',
	  streamGroupList:[],
	  interfaceConfigList:[],
    interfaceConfigDPDKList:[],
	  conformAction:[ 'Transmit',  'Mark-and-Transmit' , 'drop'],
	  exceedAction:['Transmit',  'Mark-and-Transmit' , 'drop'],
	  violateAction:['Transmit',  'Mark-and-Transmit' , 'drop'],
	  //dscp字典
	  dscpDict:[
       {
	  			  id:' ',
	  			  name:"any"
	  	},
	  		  {
	  			  id:0,
	  			  name:"CSP"
	  		  },
	  		  {
	  			  id:8,
	  			  name:"CS1"
	  		  },
	  		  {
	  			  id:10,
	  			  name:"AF11"
	  		  },
	  		  {
	  			  id:12,
	  			  name:"AF12"
	  		  },
	  		  {
	  			  id:14,
	  			  name:"AF13"
	  		  },
	  		  {
	  			  id:16,
	  			  name:"CS2"
	  		  },
	  		  {
	  			  id:18,
	  			  name:"AF21"
	  		  },
	  		  {
	  			  id:20,
	  			  name:"AF22"
	  		  },
	  		  {
	  			  id:22,
	  			  name:"AF23"
	  		  },
	  		  {
	  			  id:24,
	  			  name:"CS3"
	  		  },
	  		  {
	  			  id:26,
	  			  name:"AF31"
	  		  },
	  		  {
	  			  id:28,
	  			  name:"AF32"
	  		  },
	  		  {
	  			  id:30,
	  			  name:"AF33"
	  		  },
	  		  {
	  			  id:32,
	  			  name:"CS4"
	  		  },
	  		  {
	  			  id:34,
	  			  name:"AF41"
	  		  },
	  		  {
	  			  id:36,
	  			  name:"AF42"
	  		  },
	  		  {
	  			  id:38,
	  			  name:"AF43"
	  		  },
	  		  {
	  			  id:40,
	  			  name:"CS5"
	  		  },
	  		  {
	  			  id:46,
	  			  name:"EF"
	  		  },
	  		  {
	  			  id:48,
	  			  name:"CS6"
	  		  },
	  		  {
	  			  id:50,
	  			  name:"CS7"
	  		  }
	  ],
      ruleForm: {
        pid:'',
          name:'',
          interfaceName:'',
          description:'',
		  streamTableId:'',
		  greAct:'',
		  greActDscp:'',
		  yelAct:'',
		  yelActDscp:'',
		  redAct:'',
		  redActDscp:'',
		  strategyPro:'',
		  cir:'',
		  cbs:'',
		  pir:'',
		  pbs:'',
		  devQosPolicyList:[],
        },
        rules: {
          name: [
            { required: true, message: '请输入名称', trigger: 'blur' }
          ],
          interfaceName: [
           { required: true, message: '请选择接口', trigger: 'blur' }
          ],
          streamTableId: [
            { required: true, message: '请选择', trigger: 'blur' }
          ],
          cir: [
            { required: true, message: '请输入CIR', trigger: 'blur' }
          ],
          cbs: [
            { required: true, message: '请输入CBS', trigger: 'blur' }
          ],
          pir: [
            { required: true, message: '请输入PIR', trigger: 'blur' }
          ],
          pbs: [
            { required: true, message: '请输入PBS', trigger: 'blur' }
          ],
          greAct: [
            { required: true, message: '请选择', trigger: 'blur' }
          ],
          yelAct: [
            { required: true, message: '请选择', trigger: 'blur' }
          ],
          redAct: [
            { required: true, message: '请选择', trigger: 'blur' }
          ],
        }
    }
  },
  created() {
	  this.getList();
	  this.getStreamGroupList();
	  this.getInterfaceConfigList();
  },
  methods: {
	  getList(){
		  var params = {
			  current:this.current,
			  pageSize:this.pageSize,
		  }
		  getDevQosTablePage(params).then(response=>{
			  this.total = response.result.total;
			  this.tableData = response.result.list;
		  })
	  },
	  getInterfaceConfigList(){
		  //查询接口
		  getInterfaceConfig().then(response=>{
			  console.log(response.result)
			  this.interfaceConfigList = response.result;
		  })
      getInterfaceConfigDPDK().then(response=>{
        this.interfaceConfigDPDKList = response.result;
      })
	  },
	  getStreamGroupList(){
		  //查询流组所有
		  getStreamGroupAll().then(response=>{
			  this.streamGroupList = response.result;
			  console.log('getStreamGroupAll:',this.streamGroupList)
		  })
	  },
    save(){
      this.$refs.ruleForm.validate((valid) => {
          if (valid) {
            if(Number(this.ruleForm.cir)<0||Number(this.ruleForm.cir)>2147483647){
              this.$message({
                        message: 'CIR必须是正整数，且不能超过2147483647',
                        type: 'error'
                      })
              return;
            }
           if(Number(this.ruleForm.cbs)<0||Number(this.ruleForm.cbs)>2147483647){
              this.$message({
                        message: 'CBS必须是正整数，且不能超过2147483647',
                        type: 'error'
                      })
              return;
            }
            if(Number(this.ruleForm.pir)<0||Number(this.ruleForm.pir)>2147483647||Number(this.ruleForm.pir)<Number(this.ruleForm.cir)||Number(this.ruleForm.pir)==Number(this.ruleForm.cir)){
              console.log(this.ruleForm.pir)
               console.log(this.ruleForm.cir)
                console.log(this.ruleForm.pir<this.ruleForm.cir)
              this.$message({
                        message: 'PIR必须是正整数，且不能超过2147483647,不能小于或等于CIR',
                        type: 'error'
                      })
              return;
            }
            if(Number(this.ruleForm.pbs)<0||Number(this.ruleForm.pbs)>2147483647){
              this.$message({
                        message: 'PBS必须是正整数，且不能超过2147483647',
                        type: 'error'
                      })
              return;
            }

			  if(this.ruleForm.id!=''){
				  console.log('ruleForm编辑：',this.ruleForm);
				  this.ruleForm.devQosPolicyList = [];
				  var devQosPolicy = {
				      id: this.ruleForm.pid,
						  streamTableId:this.ruleForm.streamTableId,
						  greAct:this.ruleForm.greAct,
						  greActDscp:this.ruleForm.greActDscp,
						  yelAct:this.ruleForm.yelAct,
						  yelActDscp:this.ruleForm.yelActDscp,
						  redAct:this.ruleForm.redAct,
						  redActDscp:this.ruleForm.redActDscp,
						  strategyPro:this.ruleForm.strategyPro,
						  cir:this.ruleForm.cir,
						  cbs:this.ruleForm.cbs,
						  pir:this.ruleForm.pir,
						  pbs:this.ruleForm.pbs,
				  }
				  this.ruleForm.devQosPolicyList.push(devQosPolicy)
				  editDevQosTable(this.ruleForm).then(response=>{
					  this.getList()
					  this.ruleForm = {
					    id: '',
					    pid: '',
					      name:'',
					      interfaceName:'',
					      description:'',
						  streamTableId:'',
						  greAct:'',
						  greActDscp:'',
						  yelAct:'',
						  yelActDscp:'',
						  redAct:'',
						  redActDscp:'',
						  strategyPro:'',
						  cir:'',
						  cbs:'',
						  pir:'',
						  pbs:'',
						  devQosPolicyList:[],
					    }
					  this.dialogVisible = false
				  })
			  }else{
				  this.ruleForm.devQosPolicyList = [];
				  var devQosPolicy = {
				    id: this.ruleForm.pid,
					  streamTableId:this.ruleForm.streamTableId,
					  greAct:this.ruleForm.greAct,
					  greActDscp:this.ruleForm.greActDscp,
					  yelAct:this.ruleForm.yelAct,
					  yelActDscp:this.ruleForm.yelActDscp,
					  redAct:this.ruleForm.redAct,
					  redActDscp:this.ruleForm.redActDscp,
					  strategyPro:this.ruleForm.strategyPro,
					  cir:this.ruleForm.cir,
					  cbs:this.ruleForm.cbs,
					  pir:this.ruleForm.pir,
					  pbs:this.ruleForm.pbs,
				  }
				  this.ruleForm.devQosPolicyList.push(devQosPolicy)
				  addDevQosTable(this.ruleForm).then(response=>{
					  this.getList()
					  this.dialogVisible = false
				  })
			  }

          } else {
            console.log('error submit!!');
            return false;
          }
        });

     },
    add(){
		this.title = "新增QOS"
		this.ruleForm = {
		    id: '',
		    pid: '',
		    name:'',
		    interfaceName:'',
		    description:'',
			  streamTableId:'',
			  greAct:'',
			  greActDscp:'',
			  yelAct:'',
			  yelActDscp:'',
			  redAct:'',
			  redActDscp:'',
			  strategyPro:'',
			  cir:'',
			  cbs:'',
			  pir:'',
			  pbs:'',
			  devQosPolicyList:[],
		  }
      this.dialogVisible = true
    },
	edit(row){
		this.title = "编辑QOS"
		getDevQosTableInfoById({id:row.id}).then(response=>{
			this.ruleForm = response.result;
			var devQosPolicyList = response.result.devQosPolicyList;
			debugger
			var devQosPolicy = devQosPolicyList[0]

			var thatruleFrom = {
			  id: response.result.id,
			  pid: devQosPolicy.id,
				name:response.result.name,
				interfaceName:response.result.interfaceName,
				description:response.result.description,
				streamTableId : devQosPolicy.streamTableId,
				greAct : devQosPolicy.greAct,
				greActDscp : devQosPolicy.greActDscp,
				yelAct : devQosPolicy.yelAct,
				yelActDscp : devQosPolicy.yelActDscp,
				redAct : devQosPolicy.redAct,
				redActDscp : devQosPolicy.redActDscp,
				strategyPro : devQosPolicy.strategyPro,
				cir : devQosPolicy.cir,
				cbs : devQosPolicy.cbs,
				pir : devQosPolicy.pir,
				pbs : devQosPolicy.pbs,
			}

			this.ruleForm = thatruleFrom
			this.dialogVisible = true
		})

	},
    tableRowClassName({row,rowIndex}) {
        let that = this
        for(let i=0;i<that.selectList.length;i++) {
            if (row === that.selectList[i]) {
                return 'warning-row';
            }
        }
    },
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
	handleCurrentChange(current){
	  this.tableData = [];
	  this.current = current;
	  this.getList()
	},
	handleSizeChange(size){
	  this.tableData = [];
	  this.pageSize = size;
	  this.getList()
	},
	handleDelete(){
		const ids = this.ids;
		this.$confirm('是否确认删除', "警告", {
		    confirmButtonText: "确定",
		    cancelButtonText: "取消",
		    type: "warning"
		  }).then(function() {
		    return delDevQosTableInfoByIds(ids);
		  }).then(() => {
			this.ids = [];
		    this.getList();
		    this.msgSuccess("删除成功");
		  }).catch(() => {});
	},
	handleDeleteId(row){
		const id = row.id ;
		this.$confirm('是否确认删除', "警告", {
		    confirmButtonText: "确定",
		    cancelButtonText: "取消",
		    type: "warning"
		  }).then(function() {
		    return delDevQosTableInfoById(id);
		  }).then(() => {
		    this.getList();
		    this.msgSuccess("删除成功");
		  }).catch(() => {});
	},
	handleCopy(id){
		copyDevQosTable({id}).then(response=>{
			console.log(response)
			this.getList();
		})
	},
  }
}
</script>

<style lang="scss" scoped>
.bag {
padding:20px;
}
</style>
<style>
/* .el-table .warning-row {
    background: #0E5DF7!important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
background-color: #c6cfdf !important;
} */

</style>
