<template>
  <div style="padding:0px 20px;">
    <div class="fffbg pad20"  style="padding-top:30px;">
    <div class="caozuo">
      <el-button type="primary" size="small" icon="el-icon-plus" @click="add">新增</el-button>
      <el-button type="primary" size="small" plain icon="el-icon-delete" @click="handleDelete">删除</el-button>
    </div>
   <el-table
    :data="tableData" :header-cell-style="{background:'#F2F2F2'}" :row-class-name="tableRowClassName"
    tooltip-effect="dark"
    style="width: 100%"
    @selection-change="handleSelectionChange">
    <el-table-column
      type="selection"
      align="center"
      width="55">
    </el-table-column>
    <el-table-column
      type="index" label="序号"  align="center"
      width="50">
    </el-table-column>

    <el-table-column prop="appName" label="应用名称" align="center" ></el-table-column>
    <el-table-column prop="appDscp" label="DSCP" align="center" >
      <template slot-scope="scope">
        {{scope.row.appDscp}},{{scope.row.appDscpName}}
      </template>
    </el-table-column>
    <el-table-column prop="appProtocol" label="协议" align="center" ></el-table-column>
    <el-table-column prop="sourcePort" label="源端口" align="center" ></el-table-column>
    <el-table-column prop="destinationPort" label="目的端口" align="center" ></el-table-column>
     <el-table-column prop="appDescription" label="描述" align="center" ></el-table-column>
    <el-table-column label="操作" align="center">
      <template slot-scope="scope">
        <el-button type="text" @click="edit(scope.row)">编辑</el-button>
        <el-button type="text" @click="handleDeleteId(scope.row)">删除</el-button>
        <el-button type="text" @click="handleCopyApp(scope.row.id)">复制</el-button>
      </template>
    </el-table-column>
  </el-table>
      <div class="page">
          <el-pagination
		   v-show="total>0"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="current"
          :page-sizes="[100, 200, 300, 400]"
          :page-size="pageSize"
          layout="prev, pager, next, jumper, sizes"
          :total="total">
        </el-pagination>
      </div>
    </div>
      <el-dialog :title="title" custom-class="dialogStyle"	:visible.sync="dialogVisible" width="30%" >
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="名称" prop="appName">
              <el-input v-model="ruleForm.appName"></el-input>
            </el-form-item>
            <el-form-item label="DSCP" prop="appDscp">
              <el-select style="width:100%" v-model="ruleForm.appDscp" placeholder="请选择" @change="hadleChangeDscp">
                <el-option :key="item.id" v-for = "item in dscpDict" :label="item.name!='any'?item.id+','+item.name:item.name" :value="item.id"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item  label="协议" prop="appProtocol">
              <el-select style="width:100%" v-model="ruleForm.appProtocol" placeholder="请选择" @change="xychange">
				  <el-option :key="item" v-for = "item in protocolDict" :label="item" :value="item"></el-option>

              </el-select>
            </el-form-item>
            <el-form-item label="源端口" prop="sourcePort">
              <el-input v-model="ruleForm.sourcePort" :disabled="ruleForm.appProtocol=='ICMP'" laceholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="目的端口" prop="destinationPort">
              <el-input v-model="ruleForm.destinationPort" :disabled="ruleForm.appProtocol=='ICMP'" laceholder="请输入内容"></el-input>
            </el-form-item>
            <el-form-item label="描述">
              <el-input v-model="ruleForm.appDescription" placeholder="请输入内容"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
             <el-button type="primary" size="small" icon="el-icon-folder-opened" @click="save">保存</el-button>
             <el-button type="primary" size="small" plain icon="el-icon-switch-button" @click="dialogVisible = false">取消</el-button>
        </span>
      </el-dialog>
  </div>
</template>

<script>
import {addApp,getApp,editApp,copyApp,delApps,getAllApp} from "@/api/basics";

export default {
   data() {
    return {
      dialogVisible:false,
      selectList:[],
      tableData:[],
	  current:1,
	  pageSize:5,
	  total:0,
	  title:'',
	  //dscp字典
	  dscpDict:[
      {
	  			  id:' ',
	  			  name:"any"
	  	},
		  {
			  id:0,
			  name:"CSP"
		  },
		  {
			  id:8,
			  name:"CS1"
		  },
		  {
			  id:10,
			  name:"AF11"
		  },
		  {
			  id:12,
			  name:"AF12"
		  },
		  {
			  id:14,
			  name:"AF13"
		  },
		  {
			  id:16,
			  name:"CS2"
		  },
		  {
			  id:18,
			  name:"AF21"
		  },
		  {
			  id:20,
			  name:"AF22"
		  },
		  {
			  id:22,
			  name:"AF23"
		  },
		  {
			  id:24,
			  name:"CS3"
		  },
		  {
			  id:26,
			  name:"AF31"
		  },
		  {
			  id:28,
			  name:"AF32"
		  },
		  {
			  id:30,
			  name:"AF33"
		  },
		  {
			  id:32,
			  name:"CS4"
		  },
		  {
			  id:34,
			  name:"AF41"
		  },
		  {
			  id:36,
			  name:"AF42"
		  },
		  {
			  id:38,
			  name:"AF43"
		  },
		  {
			  id:40,
			  name:"CS5"
		  },
		  {
			  id:46,
			  name:"EF"
		  },
		  {
			  id:48,
			  name:"CS6"
		  },
		  {
			  id:50,
			  name:"CS7"
		  }
	  ],
      //协议字典
	  protocolDict:[
			  "UDP","TCP","ICMP"
	  ],
	  ruleForm: {
          appName:'',
          appDscp:'',
		  appDscpName:'',
          appProtocol:'',
          sourcePort:'',
          destinationPort:'',
          appDescription:''
        },
	  rules: {
          appName: [
            { required: true, message: '请输入名称', trigger: 'blur' }
          ],
          appDscp: [
            { required: true, message: '请选择DSCP', trigger: 'change' }
          ],
          appProtocol: [
            { required: true, message: '请选择协议', trigger: 'change' }
          ],
           sourcePort: [
            { required: true, message: '请输入源端口', trigger: 'blur' },
            { pattern: /^([0-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]{1}|6553[0-5])$/, message: '格式不正确' }
          ],
          destinationPort: [
            { required: true, message: '请输入目的端口', trigger: 'blur' },
             { pattern: /^([0-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]{1}|6553[0-5])$/, message: '格式不正确' }
          ],
        },
		// 选中数组
		ids: [],
		// 非单个禁用
		single: true,
		// 非多个禁用
		multiple: true,
    }
  },
  created() {
	  this.getAppList()
  },
  methods: {
    xychange(e){
      if(e=='ICMP'){
        this.ruleForm.sourcePort='';
        this.ruleForm.destinationPort='';
        this.rules.sourcePort[0].required=false;
        this.rules.destinationPort[0].required=false;
      }else{
        this.rules.sourcePort[0].required=true;
        this.rules.destinationPort[0].required=true;
      }
    },
	  getAppList(){
		  var params = {
			  current:this.current,
			  pageSize:this.pageSize,
		  }
		  getApp(params).then(response=>{
			  this.total = response.result.total;
			  this.tableData = response.result.list;
		  });
	  },
	  handleCurrentChange(current){
		  this.tableData = [];
		  this.current = current;
		  this.getAppList()
	  },
	  handleSizeChange(size){
		  this.tableData = [];
		  this.pageSize = size;
		  this.getAppList()
	  },
	  hadleChangeDscp(value){
		  var obj = {}
		  obj = this.dscpDict.find(function(item){
			  return item.id===value;
		  })
		  this.ruleForm.appDscpName = obj.name;
		  this.ruleForm.appDscp = value;
	  },
    save(){
      this.$refs.ruleForm.validate((valid) => {
          if (valid) {
			  if(this.ruleForm.id !=null){
				  editApp(this.ruleForm).then(response=>{
					  this.$message({
							message: '编辑成功',
							type: 'success'
						  });
					  this.dialogVisible = false
					  this.getAppList()
				  })
			  }else{
				  addApp(this.ruleForm).then(response=>{
					  this.$message({
								message: '添加成功',
								type: 'success'
							  });
					  this.dialogVisible = false
					  this.getAppList()
				  })
			  }


          } else {
            console.log('error submit!!');
            return false;
          }
        });

     },
	 handleSelectionChange(selection) {
	   this.ids = selection.map(item => item.id)
	   this.single = selection.length!==1
	   this.multiple = !selection.length
	 },
    add(){
		this.title = '新增应用';
		this.ruleForm = {}
       this.dialogVisible = true
    },
	edit(row){
		console.log(row)
		this.ruleForm = row;
		this.title = '编辑应用';
		this.dialogVisible = true
	},
	handleDelete(){
		const ids = this.ids;
		this.$confirm('是否确认删除', "警告", {
		    confirmButtonText: "确定",
		    cancelButtonText: "取消",
		    type: "warning"
		  }).then(function() {
		    return delApps(ids);
		  }).then(() => {
			this.ids = [];
		    this.getAppList()
		    this.msgSuccess("删除成功");
		  }).catch(() => {});
	},
	handleDeleteId(row){
		const id = row.id ;
		console.log(id)
		this.$confirm('是否确认删除', "警告", {
		    confirmButtonText: "确定",
		    cancelButtonText: "取消",
		    type: "warning"
		  }).then(function() {
		    return delApps([id]);
		  }).then(() => {
		    this.getAppList()
		    this.msgSuccess("删除成功");
		  }).catch(() => {});
	},
	handleCopyApp(id){
		copyApp({id:id}).then(response=>{
			this.$message({message: '复制成功', type: 'success' });
			this.getAppList()
		})
	},
    tableRowClassName({row,rowIndex}) {
        let that = this
        for(let i=0;i<that.selectList.length;i++) {
            if (row === that.selectList[i]) {
                return 'warning-row';
            }
        }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
<style>
/* .el-table .warning-row {
    background: #0E5DF7!important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
background-color: #c6cfdf !important;
} */

</style>
