<template>
  <div class="guide">
    <div style="padding:20px 20px 0px 20px;">
    <ul class="menutab">
       <li v-for="(item,index) in tabarry" :key="index" :class="{active:act==index}" @click="tabclick(index)">{{item}}</li>
    </ul>
     <div class="szxd mar20" v-if="act!=1">
            <div class="szxdtitle">{{tabarry[act]}}</div>
     </div>
    <div v-if="act==0">
        <div class="fffbg">
            本向导可配置设备的基础信息（必要），请单击“下一步”继续。若要详细设置某项功能或参数点击上方相关栏目。<br/>
            <img src="../../assets/guideload.png" style="width:800px;margin-top:30px;">
        </div>
    </div>
    </div>
    <dashboard v-if="act==1"></dashboard>
    <jiekou v-if="act==2"></jiekou>
    <jtly v-if="act==3"></jtly>
    <yingyong v-if="act==4"></yingyong>
    <liuzhu v-if="act==5"></liuzhu>
    <qos v-if="act==6"></qos>
    <mptcp v-if="act==7"></mptcp>
    <wuyuanzhu v-if="act==8"></wuyuanzhu>
    <div style="padding:0px 20px;" v-if="act!=8">
        <div class="fffbg" style="text-align:center;margin-top:10px;padding:10px;">
                <el-button @click="next" size="small" type="primary" style="background:#0E5DF7;border-radius:0px;">下一步</el-button>
        </div>
    </div>
  </div>
</template>

<script>
import dashboard from "@/views/dashboard";
import jiekou from "@/views/base";
import jtly from "@/views/base/jtly";
import yingyong from "@/views/base/yingyong";
import liuzhu from "@/views/base/liuzhu";
import qos from "@/views/base/qos";
import mptcp from "@/views/balancing/mptcp";
import wuyuanzhu from "@/views/balancing/wuyuanzhu";
export default {
   components: {dashboard,jiekou,jtly,yingyong,liuzhu,qos,mptcp,wuyuanzhu},
   data() {
    return {
      act:0,
      tabarry:['设备向导','设备总览','接口配置','静态路由配置','应用配置','流组配置','QOS配置','MPTCP','五元组负载均衡']
    }
  },
  mounted(){

  },
  methods: {
    tabclick(e){
      this.act=e
    },
    next(){
      this.act++;
    }
  }
}
</script>

<style lang="scss" scoped>
.guide {
  .menutab {overflow: hidden;}
  .menutab li {height:52px;line-height: 52px;background:#fff;float:left;margin-right:20px;padding-left:20px;padding-right:20px;cursor: pointer;}
  .menutab li:hover,.menutab li.active {color:#fff;background:#0E5DF7;}
  .szxd {height:52px;color:#fff;background:#0E5DF7;position: relative;}
  .szxdtitle {position: absolute;background:url(../../assets/guide.png) no-repeat;background-size:auto 100%;width:60px;height:52px;top:15px;left:30px;width:300px;padding-left:60px;line-height: 30px;}
  .fffbg {padding:40px;border-radius: 0px;}
}
</style>
