<template>
  <div :ref="className" :style="{height:height,width:width}" />
</template>

<script>

import * as echarts from 'echarts';
import resize from './mixins/resize'
import 'echarts-liquidfill/src/liquidFill.js';
const animationDuration = 6000
export default {
  mixins: [resize],
  data() {
    return {
       chart: null,
    }
  },
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '300px'
    },
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods:{
    initChart(val){
	      this.chart = echarts.init(this.$refs[this.className])
        var option = {

              center: ['50%', '50%'],
              series: [{
                  type: 'liquidFill',
                   radius: '260px',
                  data: [val/100,val/100],
                   itemStyle: {
                        shadowBlur: 0
                    },
                  color: ['#4a7ef1','#0E5DF5'],
                  backgroundStyle: {
                    color: '#86AEFB',
                    borderColor: '#86AEFB',
	                    borderWidth: 10
                },
               outline: {
	                show: true,
	                borderDistance: 13,
	                itemStyle: {
	                    borderColor: '#0E5DF5',
	                    borderWidth: 2
	                }
	            },
               label: {
	                normal: {
	                    color: '#fff',
	                    insideColor: '#fff',
	                    textStyle: {
	                        fontSize: 30,
	                    }
	                }
	            },
              }]
        };
	      this.chart.setOption(option)
  		}
  }
}
</script>

<style lang="scss" scoped>




</style>
