@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;color:#333;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.fffbg {background:#fff;border-radius: 5px;}
.disflex {display: flex;}
.mar20 {margin-top:20px;}
.mainh {font-size:18px;font-weight: bold;height:60px;line-height: 60px;padding-left:25px;padding-right:25px;margin-bottom: 10px;}
.l {float:left}
.r {float:right}
.ckitem{line-height: 30px;height:30px;}
.jkItem {
  text-align: center;padding:40px 15px;font-size:14px;cursor: pointer;
  img {width:100%;}
}
.jkItem:hover {
 box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.11);
}
.pad20 {padding:20px;}
.tabmenu {padding: 20px 20px 0px 20px;border-bottom: 2px solid #EBEFF4;display:flex;align-items: flex-end;}
ul,li {list-style: none;margin:0px;padding:0px;}
.tabmenu li {width: 159px;text-align: center;line-height: 42px;cursor: pointer;
  height: 42px;border-top-right-radius: 5px;border-top-left-radius: 5px;margin-right:5px;
  background: #F5F7F9;}
.tabmenu li.active {
  width: 159px;color:#fff;border-top-right-radius: 8px;border-top-left-radius: 8px;
height: 52px;line-height: 52px;
background: #0E5DF7;
}
.savebtn {height: 50px;min-width: 115px;display: flex;align-items: center;color:#fff;justify-content: center;
  background: #0E5DF7;margin-right:10px;cursor: pointer;
  border-radius: 2px;}
.clearbtn {min-width: 115px;display: flex;align-items: center;justify-content: center;
  height: 50px;cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #0E5DF7;
  border-radius: 2px;}
.savebtn img,.clearbtn img {width:40px;height:40px;}
.page {text-align: center;padding: 20px;}
.caozuo {text-align: right;margin-bottom: 15px;
  .el-button--primary{background:#0E5DF7;border-color: #0E5DF7;}
  .el-button--primary.is-plain {background:#fff;border-color: #0E5DF7;color:#0E5DF7;}
  .caozuotitle {font-weight: bold;float:left;line-height: 30px;}
}
.dialogStyle .el-dialog__header {border-bottom: 1px solid #E5E5E5;padding:15px 20px 15px 20px;background:#0E5DF7;}
.dialogStyle .el-dialog__header .el-dialog__title,.el-dialog__headerbtn .el-dialog__close {color:#fff;}
.dialogStyle .el-dialog__body {padding: 20px;}
.dialogStyle .el-dialog__footer {text-align: center;padding-top:0px;margin-top:-20px;}
.dialogStyle {
  .el-button--primary{background:#0E5DF7;border-color: #0E5DF7;}
  .el-button--primary.is-plain {background:#fff;border-color: #0E5DF7;color:#0E5DF7;}
}
.minheight {min-height: calc(100vh - 395px);}
.huibg {background:#F0F4F9;padding:15px;}
