<template>
  <div class="dashboard">
     <div class="fffbg">
            <div class="mainh">
                <span class="l"><img src="../../assets/ico1.png" class="icoimg">入口流量统计</span>
                <el-popover
                  placement="bottom"
                  class="r"
                  trigger="click">
                  <el-checkbox-group v-model="inChecklist" @change="InDeviceChange">>
                    <div class="ckitem" v-for="(item,index) in jklist" :key="index"><el-checkbox :label="item.interfaceName"></el-checkbox></div>
                </el-checkbox-group>
                  <span slot="reference" class="upfont">
                    All entry<i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                </el-popover>
            </div>
            <lineChart ref="InDevice" style="width:100%;height:280px"></lineChart>
        </div>
      <div class="fffbg">
            <div class="mainh">
                <span class="l"><img src="../../assets/ico2.png" class="icoimg">出口流量统计</span>
                <el-popover
                  placement="bottom"
                  class="r"
                  trigger="click">
                  <el-checkbox-group v-model="outChecklist" @change="outDeviceChange">>
                   <div class="ckitem" v-for="(item,index) in jklist" :key="index"><el-checkbox :label="item.interfaceName"></el-checkbox></div>
                </el-checkbox-group>
                  <span slot="reference" class="upfont">
                    All entry<i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                </el-popover>
            </div>
            <lineChart ref="outDevice" style="width:100%;height:280px"></lineChart>
        </div>

    <el-row>
      <el-col :span="12">
        <div class="fffbg">
            <div class="mainh"><img src="../../assets/ico3.png" class="icoimg">CPU负载 </div>
            <div>
               <shuibo class="cpu" ref="cpu"  style="width:100%;height:300px" ></shuibo>
            </div>
        </div>
      </el-col>

      <el-col :span="12">
        <div class="fffbg">
            <div class="mainh"><img src="../../assets/ico4.png" class="icoimg">内存占有率 </div>
            <div>
              <shuibo class="nc" ref="neichun" style="width:100%;height:300px" ></shuibo>
            </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import * as echarts from 'echarts';
import lineChart from "./components/lineChart";
import shuibo from "./components/shuibo";
import {getCpuAndMemoryUsage,getInDeviceFlowChart,getoutDeviceFlowChart} from '@/api/home'
import {getInterfaceConfigIpIsNutNull} from "@/api/basics";
export default {
  components: {lineChart,shuibo},
   data() {
    return {
      inChecklist: [],
      outChecklist: [],
      cpuusage: 0,
      memoryusage: 0,
      timer:null, //定时器名称
      jklist:[]
    }
  },
   created(){
     getInterfaceConfigIpIsNutNull().then(response=>{
       this.jklist=response.result;
      this.inChecklist=response.result.map(item=>{return item.interfaceName});
      this.outChecklist=response.result.map(item=>{return item.interfaceName});
       this.InDeviceChange();
       this.outDeviceChange();
     })
  },
  mounted(){
    this.getCpuAndMemoryUsage()
    this.timer = setInterval(() => {
       setTimeout(this.getCpuAndMemoryUsage, 0)
   }, 1000*30)
    // this.$refs.cpu.initChart(this.cpuusage)//CPU负载
    // this.$refs.neichun.initChart(this.memoryusage)//内存占有率
  },
  beforeDestroy(){
   clearInterval(this.timer);
   this.timer = null;
},
  methods: {
    getCpuAndMemoryUsage() {
      getCpuAndMemoryUsage().then(res => {
        this.cpuusage = res.result.cpuusage
        this.memoryusage = res.result.memoryusage
        this.$refs.cpu.initChart(this.cpuusage)//CPU负载
        this.$refs.neichun.initChart(this.memoryusage)//内存占有率
      })
    },
    //入口
    InDeviceChange(){
      let names = []
      let series = []
      this.$refs.InDevice.initChart(names, series)
      if (this.inChecklist.length === 0) return
      getInDeviceFlowChart({ interfaceNameList: this.inChecklist }).then(res => {
        for (let i = 0; i < res.result.length; i++) {
          let item = res.result[i]
          names.push(item.interfaceName)
          let serie = {
            name: item.interfaceName,
            type: 'line',
            stack: 'Total',
            smooth: true,
            areaStyle: {
              opacity:0.1
            },
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          }
          series.push(serie)
          for (let j = 0; j < item.interfaceFlowChartValueVoList.length; j++) {
            let itemVo = item.interfaceFlowChartValueVoList[j]
            let month = new Date(itemVo.time).getMonth()
            serie.data[month - 1] = itemVo.value
          }
        }
        this.$refs.InDevice.initChart(names, series)//入口流量
        console.log(names)
        console.log(series)
      })
    },
    //出口
    outDeviceChange(){
      let names = []
      let series = []
      this.$refs.outDevice.initChart(names, series)
      if (this.outChecklist.length === 0) return
      getoutDeviceFlowChart({ interfaceNameList: this.outChecklist }).then(res => {
        debugger
        for (let i = 0; i < res.result.length; i++) {
          let item = res.result[i]
          names.push(item.interfaceName)
          let serie = {
            name: item.interfaceName,
            type: 'line',
            stack: 'Total',
            areaStyle: {
              opacity:0.1
            },
            smooth: true,
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          }
          series.push(serie)
          for (let j = 0; j < item.interfaceFlowChartValueVoList.length; j++) {
            let itemVo = item.interfaceFlowChartValueVoList[j]
            let month = new Date(itemVo.time).getMonth()
            serie.data[month - 1] = itemVo.value
          }
        }
        this.$refs.outDevice.initChart(names, series)//入口流量
        console.log(names)
        console.log(series)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  padding:20px;padding-bottom:0px;
  .icoimg {float:left;width:24px;height:24px;margin-right:10px;margin-top:20px;}
  .jkItem {
     text-align: center;padding:40px 15px;font-size:14px;cursor: pointer;
     img {width:100%;}
  }
  .jkItem:hover {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.11);
  }
  .upfont {font-size:13px;color:#A9B0B9;border: 1px solid #0E5DF7;cursor: pointer;display:flex;height:30px;line-height: 30px;padding-left:10px;margin-top:20px;
    i {background:#0E5DF7;color:#fff;width:30px;display:block;text-align: center;line-height: 30px;margin-left:10px;}
  }
  .cirbg {padding:20px;}
  .cir1,.cir2 {width: 200px;margin:0 auto;font-size:80px;line-height: 170px;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      height: 200px;
      border: 15px solid #0E5DF7;
      border-radius: 50%;
      span {font-size:18px;}
    }
   .jdmain {margin-top:20px;
      color:#A9B0B9;font-size:16px;display: flex;
      .jdfont1 {width:50px;}
      .jdfont2 {width:50px;text-align: right}
      .jdt {flex:1;height: 12px;background: #00BC8B;border-radius: 6px;position: relative;
        .jdtcon,.jdtcon2 {background:#0E5DF7;position: absolute;left:0px;top:0px;height: 12px;border-radius: 6px;}
        .jdtcon2 {background:#FFB800;}
      }
   }
   .cir2 {border: 15px solid #FFB800;}
}
</style>
