<template>
  <div class="navbar">
    <!-- <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />

    <breadcrumb class="breadcrumb-container" /> -->

    <div class="right-menu">
      <span style="color:#fff;margin-right:10px;">{{nowtime}}</span>
      <!-- <el-dropdown class="avatar-container" trigger="click">
        <div class="avatar-wrapper">
          <img src="../../assets/tx.png" class="user-avatar">
        </div>
        <el-dropdown-menu slot="dropdown" class="user-dropdown">

          <el-dropdown-item  @click.native="logout">
            <span style="display:block;">退出</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown> -->
      <img src="../../assets/tx.png" class="user-avatar">
      <img src="../../assets/out.png" @click="logout" class="user-avatar">
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'

export default {
  components: {
    Breadcrumb,
    Hamburger
  },
  data() {
      return {
          nowtime:''
      }
    },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ])
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    async logout() {
      await this.$store.dispatch('user/logout')
      this.$router.push(`/login?redirect=${this.$route.fullPath}`)
    }
  },
  mounted(){
     let that=this;
       setInterval(function(){
		//获取时间对象
        var dd=new Date();
        //获取年月日，时分秒
        var y=dd.getFullYear();
        var m=dd.getMonth()+1;
        var d=dd.getDate();
        var h=dd.getHours()>9?dd.getHours():'0'+dd.getHours();
        var i=dd.getMinutes()>9?dd.getMinutes():'0'+dd.getMinutes();
        var s=dd.getSeconds()>9?dd.getSeconds():'0'+dd.getSeconds();
        that.nowtime=y+"年"+m+"月"+d+"日"+"   "+h+":"+i+":"+s
        },1000)
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 60px;
  overflow: hidden;
  position: relative;
  background: #0E5DF7;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 56px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;display:flex;align-items: center;
    line-height: 60px;
   .user-avatar {
          cursor: pointer;
          width: 34px;
          height: 34px;
          border-radius: 10px;margin-right:10px;
        }
    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;


      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 20px;

      .avatar-wrapper {
        display:flex;align-items: center;
        position: relative;



        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
