<template>
  <div class="login-container">
     <div class="navbar">
       <img src="../../assets/logo.png" style="width: 125px;height: 28px;margin-left:20px;margin-top:12px;">
     <div class="right-menu">
      <span style="color:#fff;margin-right:10px;">{{nowtime}}</span>
      <img src="../../assets/tx.png" class="user-avatar">
      <img src="../../assets/out.png" class="user-avatar">
    </div>
  </div>

    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on" label-position="left">


      <div class="mainlogin">
      <el-form-item prop="username">
        <!-- <span class="svg-container">
          <svg-icon icon-class="user" />
        </span> -->
        <el-input
          ref="username"
          v-model="loginForm.username"
          placeholder="Username"
          name="username"
          type="text"
          tabindex="1"
          auto-complete="on"
        />
      </el-form-item>

      <el-form-item prop="password">
        <!-- <span class="svg-container">
          <svg-icon icon-class="password" />
        </span> -->
        <el-input
          :key="passwordType"
          ref="password"
          v-model="loginForm.password"
          :type="passwordType"
          placeholder="Password"
          name="password"
          tabindex="2"
          auto-complete="on"
          @keyup.enter.native="handleLogin"
        />
        <span class="show-pwd" @click="showPwd">
          <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
        </span>
      </el-form-item>

      <el-button :loading="loading" type="primary" class="logbtn" @click.native.prevent="handleLogin">登录</el-button>
      </div>


    </el-form>
  </div>
</template>

<script>
import { validUsername } from '@/utils/validate'

export default {
  name: 'Login',
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!validUsername(value)) {
        callback(new Error('Please enter the correct user name'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 5) {
        callback(new Error('The password can not be less than 6 digits'))
      } else {
        callback()
      }
    }
    return {
      nowtime:'',
      loginForm: {
        username: 'admin',
        password: 'admin'
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }]
      },
      loading: false,
      passwordType: 'password',
      redirect: undefined
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },
   mounted(){
     let that=this;
       setInterval(function(){
		//获取时间对象
        var dd=new Date();
        //获取年月日，时分秒
        var y=dd.getFullYear();
        var m=dd.getMonth()+1;
        var d=dd.getDate();
        var h=dd.getHours()>9?dd.getHours():'0'+dd.getHours();
        var i=dd.getMinutes()>9?dd.getMinutes():'0'+dd.getMinutes();
        var s=dd.getSeconds()>9?dd.getSeconds():'0'+dd.getSeconds();
        that.nowtime=y+"年"+m+"月"+d+"日"+"   "+h+":"+i+":"+s
        },1000)
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('user/login', this.loginForm).then(() => {
            this.$router.push({ path: this.redirect || '/' })
            this.loading = false
          }).catch(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss">
/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

$bg:#283443;
$light_gray:#fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.login-container {
  .el-input {
    height: 56px;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      height: 56px;
      caret-color: $cursor;color:#333;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 0px;
    background: #fff;
    color: #454545;margin-bottom:30px;
  }
}
</style>

<style lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.login-container {

  min-height: 100%;
  width: 100%;
  background:#fff;
  overflow: hidden;
  .navbar {
  height: 60px;
  overflow: hidden;
  position: relative;
  background: #0E5DF7;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 56px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;display:flex;align-items: center;
    line-height: 60px;
 .user-avatar {margin-right:15px;
          cursor: pointer;
          width: 34px;
          height: 34px;
        }
  }
}

  .mainlogin {width:330px;position: absolute;right:80px;top:340px;}
  .login-form {position:relative;
   width: 1100px;
    height:738px;
    background:url(../../assets/loginBg.jpg) no-repeat;background-size:100% 100%;
    margin: 40px auto 0 auto;
  }


  .svg-container {
    padding: 0px 5px 0px 15px;
    color: #333;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }


  .show-pwd {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .logbtn {
    background:#0e5df6;height:50px;line-height:50px;font-size:18px;color:#fff;font-weight:bold;width:180px;padding:0px;border-radius:0px;
  }
}
</style>
